body {
    min-height: 100%;
    background-color: #2d3436;
    background-image: url(./e40eaa8b9839461ea1c45889e5bfb7f9.jpg);
    text-align: center;
}

.password_line {
    display: flex;
    background-color: #a1d0eb;
    border: 5px solid #fff;
    width: 22%;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    padding-left: 45px;
    font-size: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
    background: #a1d0eb;
    border-radius: 15px;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #28688f;
    border-radius: 50%;
    cursor: move;
}

.slider::-webkit-slider-thumb:hover {
    background: #6a8b9f;
}

.button_main {
    width: 55px;
    height: 55px;
    background-color: rgb(240, 209, 36);
    border: 1px solid transparent;
    margin: 20px 30px;
    border-radius: 50%;
}

.button_main:hover {
    background-color: rgb(240, 155, 36);
}

.main {
    display: flex;
    background-color: rgb(253, 253, 252);
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 15px;
    font-family: fantasy;
    color: rgb(19, 86, 106);
    font-size: 25px;
}

.slider_main {
    display: flex;
    flex-direction: row;
}

output {
    margin-top: 13px;
    margin-left: 20px;
}

label:first-child {
    margin-top: 50px;
}